{% extends 'base.html.twig' %}

{% block body %}
    <ol>
        {% for usuario in usuarios %}
            <li><a href="{{ path('detalle', {'id': usuario.id}) }}">{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</a></li>
        {% endfor %}
    </ol>

    <button onclick="location.href='{{ path('create') }}'">Nuevo</button>
{% endblock %}